Node Red Sensores_DHT11_BMP180_DS18B20.txt
[{"id":"663b4ebc.17455","type":"serial in","z":"568b0d77.b75704","name":"","serial":"99a4d77a.f152f8","x":70,"y":100,"wires":[["e3ab0a2f.00ae58"]]},{"id":"45eeb633.5a7858","type":"debug","z":"568b0d77.b75704","name":"Frame from Sensors","active":false,"console":"false","complete":"true","x":520,"y":40,"wires":[]},{"id":"117b6820.f384c8","type":"file","z":"568b0d77.b75704","name":"Sensor Data","filename":"C:\\Users\\Octavio-Laptop\\Desktop\\Proyecto Network Telemetrix\\Programacion\\Sensores_DHT11_BMP180_DS18B20\\Sensor DataBase.txt","appendNewline":true,"createDir":true,"overwriteFile":"false","x":810,"y":80,"wires":[]},{"id":"7f315ffb.36389","type":"ui_gauge","z":"568b0d77.b75704","name":"Temp DHT11","group":"d4fe26d3.991cf8","order":1,"width":0,"height":0,"gtype":"gage","title":"Temp DHT11","label":"","format":"{{value}}°C","min":0,"max":"60","colors":["#008000","#ff8000","#ff0000"],"x":990,"y":140,"wires":[]},{"id":"e3ab0a2f.00ae58","type":"function","z":"568b0d77.b75704","name":"","func":"var newMsg = {payload: msg.payload.toString()};\nreturn newMsg;","outputs":1,"noerr":0,"x":190,"y":100,"wires":[["ead6a3f6.2739b"]]},{"id":"ead6a3f6.2739b","type":"split","z":"568b0d77.b75704","name":"","splt":" ","x":310,"y":100,"wires":[["e7778f5a.4ee94","45eeb633.5a7858"]]},{"id":"e7778f5a.4ee94","type":"function","z":"568b0d77.b75704","name":"Payload Object Sensor","func":"var newMsg = {};\nvar Sensor = {\n    NData: 0, \n    Temp_DHT11: 0,\n    Humid_DHT: 0,\n    Temp_DS: 0,\n    Temp_BMP: 0,\n    Pressure_BMP: 0,\n    Altitud_BMP: 0,\n    Time: new Date().toString()\n};\n\ncontext.data = context.data || {};\n\nswitch(msg.parts.index){\n    case 0:\n        context.data.NData = parseFloat(msg.payload);\n        msg = null;\n        break;\n    case 1:\n        context.data.Temp_DHT11 = parseFloat(msg.payload);\n        msg = null;\n        break;\n    case 2:\n        context.data.Humid_DHT = parseFloat(msg.payload);\n        msg = null;\n        break;\n    case 3:\n        context.data.Temp_DS = parseFloat(msg.payload);\n        msg = null;\n        break;\n    case 4:\n        context.data.Temp_BMP = parseFloat(msg.payload);\n        msg = null;\n        break;   \n    case 5:\n        context.data.Pressure_BMP = parseFloat(msg.payload);\n        msg = null;\n        break;\n    case 6:\n        context.data.Altitud_BMP = parseFloat(msg.payload);\n        msg = null;\n        break;\n    default:\n        msg = null;\n        break;\n}\n\nAllData = context.data.NData &&\n          context.data.Temp_DHT11 &&\n          context.data.Humid_DHT &&\n          context.data.Temp_DS &&\n          context.data.Temp_BMP &&\n          context.data.Pressure_BMP &&\n          context.data.Altitud_BMP;\n\nif(AllData){\n    var time = Date();\n    context.data.Time = time.toString();\n    Sensor = context.data;\n    newMsg = { payload: context.data,\n    topic: 'Frame Sensor' };\n    context.data = null;\n    return newMsg;\n}\nelse\n    return msg;\n\n\n","outputs":1,"noerr":0,"x":500,"y":160,"wires":[["f03037e6.dba008","117b6820.f384c8","983e9fb4.a738e"]]},{"id":"f03037e6.dba008","type":"function","z":"568b0d77.b75704","name":"Split Data","func":"var msgTemp_DHT11 = {payload: msg.payload.Temp_DHT11};\nvar msgHumid_DHT = {payload: msg.payload.Humid_DHT};\nvar msgTemp_DS = {payload: msg.payload.Temp_DS};\nvar msgTemp_BMP = {payload: msg.payload.Temp_BMP};\nvar msgPressure_BMP = {payload: (msg.payload.Pressure_BMP/100000).toFixed(2)};\nvar msgAltitud_BMP = {payload: msg.payload.Altitud_BMP};\n\nreturn [msgTemp_DHT11, msgHumid_DHT, msgTemp_DS, msgTemp_BMP, msgPressure_BMP, msgAltitud_BMP ];","outputs":"6","noerr":0,"x":705.3627052307129,"y":256.9830274581909,"wires":[["7f315ffb.36389","a5462cf4.41c18"],["e2f39eda.10482","745857b8.295108","8a2a0583.f623f8"],["15e11873.e29f58","7cdd1163.ec0f3","ef4ae4ae.6118e8"],["8ee5d36e.3975f","c82ea8ed.46a718"],["71254a59.5f41c4","42c82306.6f68ec"],[]]},{"id":"15e11873.e29f58","type":"ui_gauge","z":"568b0d77.b75704","name":"Temp DS18B20","group":"b914d6c9.8d1b18","order":1,"width":0,"height":0,"gtype":"gage","title":"Temp DS18B20","label":"","format":"{{value}}°C","min":0,"max":"60","colors":["#008000","#ff8000","#ff0000"],"x":1000,"y":380,"wires":[]},{"id":"8ee5d36e.3975f","type":"ui_gauge","z":"568b0d77.b75704","name":"Temp BMP180","group":"2c6a4858.2d97e8","order":1,"width":0,"height":0,"gtype":"gage","title":"Temp BMP180","label":"","format":"{{value}}°C","min":0,"max":"60","colors":["#008000","#ff8000","#ff0000"],"x":1000,"y":520,"wires":[]},{"id":"e2f39eda.10482","type":"ui_gauge","z":"568b0d77.b75704","name":"Humid DHT11","group":"84440358.ae3f7","order":1,"width":0,"height":0,"gtype":"gage","title":"Humid DHT11","label":"","format":"{{value}}%","min":0,"max":"100","colors":["#ffff80","#ff8000","#008000"],"x":1000,"y":220,"wires":[]},{"id":"71254a59.5f41c4","type":"ui_gauge","z":"568b0d77.b75704","name":"Pressure BMP180","group":"84440358.ae3f7","order":2,"width":0,"height":0,"gtype":"gage","title":"Pressure BMP180","label":"","format":"{{value}} Bar","min":0,"max":"2","colors":["#ffff80","#ff8000","#008000"],"x":1010,"y":620,"wires":[]},{"id":"a5462cf4.41c18","type":"ui_chart","z":"568b0d77.b75704","name":"Graph 5 min Temp DHT11 (°C)","group":"d4fe26d3.991cf8","order":2,"width":0,"height":0,"label":"Graph 5 min Temp DHT11 (°C)","chartType":"line","legend":"false","xformat":"%H:%M:%S","interpolate":"basis","nodata":"","ymin":"10","ymax":"40","removeOlder":"5","removeOlderUnit":"60","x":1050,"y":180,"wires":[[],[]]},{"id":"7cdd1163.ec0f3","type":"ui_chart","z":"568b0d77.b75704","name":"Graph 5min Temp DS18B20 (°C)","group":"b914d6c9.8d1b18","order":0,"width":0,"height":0,"label":"Graph 5min Temp DS18B20 (°C)","chartType":"line","legend":"false","xformat":"%H:%M:%S","interpolate":"basis","nodata":"","ymin":"10","ymax":"40","removeOlder":"5","removeOlderUnit":"60","x":1060,"y":420,"wires":[[],[]]},{"id":"c82ea8ed.46a718","type":"ui_chart","z":"568b0d77.b75704","name":"Graph 5 min Temp BMP180 (°C)","group":"2c6a4858.2d97e8","order":0,"width":0,"height":0,"label":"Graph 5 min Temp BMP180 (°C)","chartType":"line","legend":"false","xformat":"%H:%M:%S","interpolate":"basis","nodata":"","ymin":"10","ymax":"40","removeOlder":"5","removeOlderUnit":"60","x":1050,"y":560,"wires":[[],[]]},{"id":"7316b4d3.62305c","type":"ui_chart","z":"568b0d77.b75704","name":"Humid DHT11 (24 Horas)","group":"a249173c.7e48d8","order":2,"width":0,"height":0,"label":"Humid DHT11 (%)","chartType":"line","legend":"false","xformat":"%H:%M:%S","interpolate":"basis","nodata":"","ymin":"0","ymax":"100","removeOlder":"1","removeOlderUnit":"86400","x":1230,"y":320,"wires":[[],[]]},{"id":"745857b8.295108","type":"trigger","z":"568b0d77.b75704","op1":"","op2":"","op1type":"pay","op2type":"nul","duration":"5","extend":false,"units":"min","reset":"","name":"Sample 5 Min","x":1000,"y":320,"wires":[["7316b4d3.62305c"]]},{"id":"645da61f.f6c4a8","type":"ui_chart","z":"568b0d77.b75704","name":"Pressure  DHT11 (24 Horas)","group":"63fe04f6.773c0c","order":2,"width":0,"height":0,"label":"Pressure DHT11 (Bar)","chartType":"line","legend":"false","xformat":"%H:%M:%S","interpolate":"basis","nodata":"","ymin":"0","ymax":"2","removeOlder":"1","removeOlderUnit":"86400","x":1240,"y":680,"wires":[[],[]]},{"id":"42c82306.6f68ec","type":"trigger","z":"568b0d77.b75704","op1":"","op2":"","op1type":"pay","op2type":"nul","duration":"5","extend":false,"units":"min","reset":"","name":"Sample 5 Min","x":1000,"y":680,"wires":[["645da61f.f6c4a8"]]},{"id":"401651a4.8165d","type":"ui_chart","z":"568b0d77.b75704","name":"Temp DS18B20 (24 Horas)","group":"755805a6.c720ec","order":2,"width":0,"height":0,"label":"Temp DS18B20 (°C)","chartType":"line","legend":"false","xformat":"%H:%M:%S","interpolate":"basis","nodata":"","ymin":"0","ymax":"40","removeOlder":"1","removeOlderUnit":"86400","x":1240,"y":460,"wires":[[],[]]},{"id":"ef4ae4ae.6118e8","type":"trigger","z":"568b0d77.b75704","op1":"","op2":"","op1type":"pay","op2type":"nul","duration":"5","extend":false,"units":"min","reset":"","name":"Sample 5 Min","x":1000,"y":460,"wires":[["401651a4.8165d"]]},{"id":"8a2a0583.f623f8","type":"ui_chart","z":"568b0d77.b75704","name":"Graph 5 min Humid DHT11 (%)","group":"66220f0a.3097","order":2,"width":0,"height":0,"label":"Graph 5 min Humid DHT11 (%)","chartType":"line","legend":"false","xformat":"%H:%M:%S","interpolate":"basis","nodata":"","ymin":"0","ymax":"100","removeOlder":"5","removeOlderUnit":"60","x":1050,"y":260,"wires":[[],[]]},{"id":"983e9fb4.a738e","type":"debug","z":"568b0d77.b75704","name":"Frame from Sensors","active":true,"console":"false","complete":"true","x":840,"y":40,"wires":[]},{"id":"99a4d77a.f152f8","type":"serial-port","z":"","serialport":"COM11","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"0","bin":"bin","out":"time","addchar":false},{"id":"d4fe26d3.991cf8","type":"ui_group","z":"","name":"Sensor DHT11","tab":"c224905b.f6d62","order":2,"disp":true,"width":"6"},{"id":"b914d6c9.8d1b18","type":"ui_group","z":"","name":"Sensor DS18B20","tab":"c224905b.f6d62","order":1,"disp":true,"width":"6"},{"id":"2c6a4858.2d97e8","type":"ui_group","z":"","name":"Sensor BMP180","tab":"c224905b.f6d62","order":3,"disp":true,"width":"6"},{"id":"84440358.ae3f7","type":"ui_group","z":"","name":"Pressure, Humidity","tab":"c224905b.f6d62","order":4,"disp":true,"width":"6"},{"id":"a249173c.7e48d8","type":"ui_group","z":"","name":"DHT11: Humid (24 Horas)","tab":"c224905b.f6d62","order":6,"disp":true,"width":"6"},{"id":"63fe04f6.773c0c","type":"ui_group","z":"","name":"BMP180: Pressure (24 Horas)","tab":"c224905b.f6d62","order":7,"disp":true,"width":"6"},{"id":"755805a6.c720ec","type":"ui_group","z":"","name":"DS18B20: Temp (24 Horas)","tab":"c224905b.f6d62","order":8,"disp":true,"width":"6"},{"id":"66220f0a.3097","type":"ui_group","z":"","name":"DHT11: Humid (5 Min)","tab":"c224905b.f6d62","order":5,"disp":true,"width":"6"},{"id":"c224905b.f6d62","type":"ui_tab","z":"","name":"MONITORING","icon":"dashboard","order":1}]